@import '_vars';


@font-face {
    font-family: myFirstFont;
    src: url(../font/tw-cen-mt-std/TwCenMTStd-SemiMedium.otf);
}
@font-face{
    font-family: title;
    src: url(../font/copperplate/OPTICopperplate-Heavy.otf);
}
#hd{
    background-color: black;
    height: 30px;
}

#logo{
    float: right;
}



// css for home page
#home{
    padding-top: 50px;
    width:100%;
    background-color: #ddd6d0;
    background-size: cover;
    background-position: center;
    font-family: myFirstFont;
    background-repeat: no-repeat;
    //min-height: 700px;
    background: linear-gradient(to bottom, #ffffff 0%, #68899c 100%);
    //background-color: #ddd6d0;
}
#under{
    text-decoration: underline;
    text-decoration-color: white;
    color:black;
    font-family: title;
}

#home div{
    text-align: center;
    color:black;
}

#vbtn{
    background-color: #ddd6d0;
    color: #004a80;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFirstFont;
}

#vbtn:hover{
    background-color: black;
    color: white;
}
// css for contact page
#about{
    background-color: #004a80;
    color: white;
    font-family: myFirstFont;
}
.info{
    text-align: center;
}

// css for skills page
#skills{
    background: linear-gradient(to bottom, #ffffff 0%, #68899c 100%);
    font-family: myFirstFont;
}
.dev{
    padding-left: 40px;   
}
.dev p{
    text-transform: uppercase;
    color: #ff8400;
}
.des{
    padding-left: 40px;   
}
.des p{
    text-transform: uppercase;
    color: #f20940;
}

// css for work page
#work{
    background-color: #004a80;
    color: white;
}


// changing font size as per window size
@media screen and (min-width: 601px) {
    div {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    div {
      font-size: 20px;
    }
  }

// css for contact page

#btn{
    background-color: #ddd6d0;
    color: #004a80;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

#btn:hover{
    background-color: black;
    color: white;
}

#text{
    color:white;
}

#text:hover{
    zoom: 1;
}

.field{
    width: 100%;
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    transition-property: width;
}

#contact{
    background: linear-gradient(to bottom, #ffffff 0%, #68899c 100%);
}

.container {
    border-radius: 5px;
    background-color: #004a80;
    color: white;
    padding: 20px;
}

//menu demo

 body
 {
   margin: 0;
   padding: 0;
   width: 100%;
   /* make it look decent enough */
   background: #232323;
   //color: #cdcdcd;
   font-family: myFirstFont;
 }
 
 a
 {
   text-decoration: none;
   color: #ffffff;
   font-family: myFirstFont;
   transition: color 0.3s ease;
 }
 
 #menu  a:hover
 {
   background-color: #68899c;
 }
 
 #menuToggle
{
  display: block;
  position: relative;
  top: 2px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #004a80;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: black;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
//lightbox
#lightbox{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:rgba(0, 0, 0, 0.3);
    display:none;
  }
  
  #lightbox.open{
    display:block;
  }
  
  #lightbox_content{
    position:fixed;
    width:500px;
    height:400px;
    background:#ffffff;
    border-radius:3px;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-200px;
    margin-bottom: -200px;
    text-align:center;
  }
  
  #close{
    position:absolute;
    right:20px;
    top:20px;
    background:rgba(0, 0, 0, 0.2);
    height:20px;
    width:20px;
    border-radius:15px;
    text-align:center;
    color:#ffffff;
    cursor:pointer;
  }