@import '_vars';


.header{
    background-color: #004a80;
    
}
#home div{
    text-decoration: underline;
    text-decoration-color: white;
    background-color: #ddd6d0;
}
.homebg{
    margin-left: 20px;
}
#home div{
    text-align: center;
}
#about{
    background-color: #004a80;
    color: white;
}
.info{
    text-align: center;
}
#skills{
    background-color: #ddd6d0;
}
.dev{
    padding-left: 40px;   
}
.dev p{
    text-transform: uppercase;
    color: #ff8400;
}
.des{
    padding-left: 40px;   
}
.des p{
    text-transform: uppercase;
    color: #f20940;
}
#work{
    background-color: #004a80;
    color: white;
}
@media screen and (min-width: 601px) {
    div {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    div {
      font-size: 30px;
    }
  }