<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/foundation.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Portfolio</title>
</head>
<body>
        <div id="navbar" class="header">
                <a href="#default" id="logo" class="small-3 large-3 columns"><img src="images/jp.svg"></a>
                <div id="navbar-right">
                  <a class="active" href="#home">Home</a>
                  <a href="#about">About</a>
                  <a href="#skills">Skills</a>
                  <a href="#work">Work</a>
                  <a href="contact.php">Contact</a> 
                </div>
        </div>
        <main id="app">
   <!-- <section class="row" id="header">
        <div class="small-3 columns">
            <img src="images/jp.svg">
        </div>
    </section>-->
    <section id="home" class="row">
            <div class="small-12 large-12 columns">Hello I'm</div>
            <div class="small-12 large-12 columns">JINKAL PATEL</div>
    </section>  
    <section id="about">
        <div class="row">
        <div class="small-2 columns"><img src="images/about.png"></div>
        <div class="small-10 text-centered large-10 columns ">About</div>
        </div>
        <div class="row">
        <div class="small-3 small-centered columns homebg" v-for="about in videodata"><img :src="'images/'+ about.image" alt=""></div>
        <div class="small-12 columns info" v-for="about in videodata">{{ about.description }}</div>
        </div>
    </section> 
    <section id="skills">
            <div class="row">
                    <div class="small-2 large-2 columns"><img src="images/skills.png"></div>
                    <div class="small-10 text-centered large-10 columns">Skills</div>
            </div>
            <div class="row dev">
                <div class="small-3 columns">
                <p>devlopment</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
                </div>
            </div>
            <div class="row des">
                    <div class="small-3 columns">    
                    <p>desiging</p>
                    <ul>
                        <li>Photopshop</li>
                        <li>Illustrator</li>
                        <li>InDesign</li>
                        <li>AfterEffects</li>
                    </ul>
                    </div>
            </div>
    </section>
    <section id="work">
            <div class="row">
                    <div class="small-2 columns"><img src="images/work.png"></div>
                    <div class="small-10 text-centered columns">Work</div>
            </div>
        </br>
            <div class="row">
            <div class="small-12 large-12 columns" v-for="work in videodata"><img :src="'images/'+ work.work_image" alt=""></div>
            </div>
        </br>
            <div class="row">
                <div class="small-12 large-12 columns"><img src="images/image_2.png"></div>
            </div>
            <br>
            <div class="row">
                <div class="small-12 large-6 columns"><img src="images/image_3.png"></div>
            </div>
            <br>
            <div class="row">
                <div class="small-12 large-6 columns"><img src="images/Patel_Jinkal_IID.png"></div>
            </div>

    </section>
    </main>
    <script src="js/main.js"></script>
</body>
</html>